apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ${profile_component}/infrastructure
  - ../../../../components/platform-runtime-${runtime}
%{ if lmstudio_enabled ~}
  - ../../../../components/platform-lmstudio
%{ endif ~}
