apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ${infra_component}
  - ../../../../components/platform-runtime-${runtime}
%{ if lmstudio_enabled ~}
  - ../../../../components/platform-lmstudio
%{ endif ~}
